@font-face {
   font-family: 'Bitter Rose';
   src: url(../fonts/FontsFree-Net-Bitter-Rose.woff2);
   font-weight: 400;
}

@font-face {
   font-family: 'Chillax';
   src: url(../fonts/Chillax-Regular.woff2);
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: 'Chillax';
   src: url(../fonts/Chillax-Medium.woff2);
   font-weight: 500;
}

